body {
  text-align: center;
  background-color: black;
}
form {
    color: orange
}
h2,h4,p {

    color: orange
}
h1 {
    color: orange;
}
/* James Here */
.search-button:hover {
    color: orange;
    background-color: orange
    
   
  }