body {
  text-align: center;
  background-color: black;
}
form {
  color: orange;
}
h2,
h4,
p {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: orange;
}
h1 {
  color: orange;
  font-family: Georgia, "Times New Roman", Times, serif
}

#cocktail-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#random-cocktail {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: larger;
  font-weight: bold;
  background-color: orange;
  color: white;
  width: 500px;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
}
.name {
  font-size: 75px;
  margin-bottom: 10px;
}

.ingredients-list {
  font-size: 75px;
}

#instructions-placeholder {
  font-size: 20px;
  width: 500px;
  height: auto;
  text-justify: left;
}

.detail-image {
  width: 500px;
  height: auto;
}
/* James Here */
#search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#search-button {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: small;
  font-weight: bold;
  background-color: orange;
  color: white;
  border-color: black;
  width: 100px;
  padding: 10px;
  margin-top: 100px;
  margin-bottom: 10px;
  border-radius: 10px;
  }

  
  #searchinput {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: small;
  font-weight: bold;
  border-color: black;
  width: 350px;
  height: 30px;
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: 10px;
  margin-right: 30px;

  }



  #new-cocktail {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .form-inputs {
    font-family: Georgia, "Times New Roman", Times, serif;
  border-color: black;
  width: 350px;
  height: 30px;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  }

  .new-labels {

    font-family: Georgia, 'Times New Roman', Times, serif;

  }

  #new-form-submit-button {
    font-family: Georgia, "Times New Roman", Times, serif;
  font-size: small;
  font-weight: bold;
  background-color: orange;
  color: white;
  border-color: black;
  width: 100px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  }

  #new-cocktail-form {
    margin-top: 50px;
  }

  #new-form-title {
    font-size: 40px;
    
    
  }